<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MySQL GUI</title>
</head>
<body>
    <h1>Welcome to the Database Management GUI</h1>
    <ul>
        <li><a href="/insert_store">Insert Store Information</a></li>
        <li><a href="/update_hours">Update Store Hours</a></li>
        <li><a href="/fetch_data">Get Data from a Store</a></li>
    </ul>
	<button onclick="window.location.href='/index'">Home</button>
</body>
</html>
